cycler==0.10.0
ecdsa==0.13.3
Fabric==1.12.0
funcsigs==1.0.2
Keras==3.12.0
matplotlib==1.5.2
mock==2.0.0
numpy==1.22.0
pandas==0.18.1
paramiko==3.4.0
pbr==1.10.0
protobuf==4.25.8
pycrypto==2.6.1
pyparsing==2.1.8
python-crfsuite==0.8.4
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==5.4
scikit-learn==1.5.0
scipy==1.10.0
six==1.10.0
tensorflow==2.12.1
Theano==0.8.2
