backports.ssl-match-hostname==3.4.0.2
blessings==1.6
bpython==0.16
certifi==2024.7.4
curtsies==0.2.11
gnureadline==6.3.3
greenlet==0.4.11
ipython==8.10.0
Jinja2==3.1.4
MarkupSafe==0.23
matplotlib==1.4.2
mock==1.0.1
nose==1.3.4
numpy==1.22.0
Pygments==2.15.0
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
pyzmq==14.4.1
requests==2.32.0
scikit-learn==1.5.0
scipy==1.10.0
six==1.9.0
sklearn==0.0
tornado==6.4.2
wcwidth==0.1.7
